/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

html {
   font-family:"Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
    box-sizing: border-box;
}

.title {
  height:50px;
  background-color: #FFF;
  line-height: 80px;
  letter-spacing: 1px;
  text-align:center;
  margin-bottom:20px;
}

.title a{
  font-size: 3em;
　margin-top: 30px;
  text-decoration: none; 
  color:#000;
}
.sign-box {
  display: flex;
  line-height: 30px;
}

.name-nav {
  display: flex;
  padding-left:10px;
  width:30%;
}

.name-nav a{
  margin-left:15px;
  padding:0 10px;
  font-weight:bolder;
  border-radius: 5px;
  background: #0099FF;
  letter-spacing:2px;
  color:white;
  font-size:1vw;
}

.menu-nav{
  display: flex;
  width:70%;
  justify-content: flex-end;
}

.post-one{
  padding:10px;
  margin:0 10px;
  color:white;
  line-height:15px;
  background-color:#0099FF;
  border-radius:10px;
  font-size:1vw;
}

.post {
  padding:10px;
  margin:0 10px;
  color:#000;
  line-height:16px;
  background-color:#3399FF;
  border-radius:10px;
  font-size:1vw;
}

.sign-box a{
  text-decoration: none; 
}

footer{
  text-align:center;
}